

<div class="container shoppingcart">
    <h1>Το καλάθι σου</h1>
    <div class="card" style="width: 80%;">
      <div class="card-body">
        <p>
          Έχεις <b>{{this.totalNumOfCartItems }}</b> προϊόντα αυτη τη στιγμή στο καλάθι σου
          <button class="btn btn-light btn-sm float-right" (click)="clearCart()">Άδειασε το καλάθι</button>
        </p>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th class="text-left" style="width: 400px" >Προϊόν</th>
            <th class="text-center" style="width: 230px;">Ποσότητα</th>
            <th class="text-right" style="width: 200px;">Τιμή</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of myCart.items">
            <td>
              <div class="thumbnail"></div>
            </td>
            <td>
              {{ item.name }}
            </td>
            <td class="text-center">
              {{item.quantity}}
            </td>
            <td class="text-right">
              <!-- {{ item.price  | currency:'EUR'}} -->
              {{(item.price && item.quantity)? (item.price * item.quantity | currency:'EUR')  : 0 }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">Total: {{ myCart.totalPrice | currency:'EUR' }}</th>
          </tr>
          <tr>
            <th colspan="4" class="text-right">
              <a routerLink="/check-out" class="btn btn-md  menubtn">Συνέχεια</a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

